* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1060px;
  padding: 0px 20px;
  margin: 0 auto;
}

.main {
  background-image: url(../img/bg-main.png);
  height: 800px;
  background-position: center;
  background-size: cover;
}

.about__wrap {
  height: 700px;
  background-color: #5d62b5;
  border-radius: 40px;
  margin-top: -80px;
  position: relative;
}
.about__dots {
  position: absolute;
  top: -110px;
  right: -70px;
}
.about__dog {
  border-radius: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  z-index: 1;
}
.about__blob {
  position: absolute;
  bottom: -60px;
}